{% block header_wrapper %}
<div id="wrap">
<!-- THE LINE AT THE VERY TOP OF THE PAGE -->
<div class="top_line"></div>
<!-- START HEADER AREA -->
<header>
		  <div class="container">
			<div class="row">
			  <!-- HEADER: LOGO AREA -->
			  <div class="span4 logo"> <a class="logo" href="/"> <img alt="logo" title="SciamLab" src="/images/sciamlab_logo_small.png"> </a> </div>
              <div class="span5"><p class="head_phone header_text">Knowledge Data Management</p></div>
			  <div class="span3">
              		     <div class="row">
                              <div class="header_lang">
                                  <a href="/opendatahub/">EN</a>
                                  | 
                                  <a href="/opendatahub/es/">ES</a>
                                  | 
                                  <a href="/opendatahub/it/">IT</a>
                              </div>
                            </div>	
			  <!-- /div -->
			  <!-- HEADER: SOCIAL ICONS -->
                            <div class="row">
                            <div id="header_socials">
                                <!-- HEADER: SOCIAL ICONS -->
                                <ul class="socials unstyled">
                                    <li><a class="twitter" href="http://twitter.com/sciamlab"><span>link to twitter</span></a><br>
                                    </li>
                                    <li><a class="facebook" href="https://www.facebook.com/sciamlab.engineering"><span>link to facebook</span></a><br>
                                    </li>
                                    <li><a class="gplus" href="https://plus.google.com/103228027286969347186?prsrc=3" data-rel="publisher" target="_top"><span>link to gplus</span></a><br>
                                    </li>
                                    <li><a class="linkedin" href="https://www.linkedin.com/company/3279210" data-rel="publisher" target="_top"><span>link to linkedin</span></a><br>
                                    </li>
                                </ul>
                            </div>
                          </div>

			</div>
			</div>
		  </div>
                          <!-- HEADER: PRIMARY SITE NAVIGATION -->
                          <div class="container">
                                <div class="navbar">
                                  <div class="navbar-inner">
                                        <div class="container">
                                          <div class="buttons-container"> </div>
                                          <div class="nav-collapse">
                                                <ul class="nav nav-pills">
                                                  <li id="menu_home" class="single"><a href="{{ _('/index.shtml.en') }}">{{ _('HOME') }}</a></li>
                                                  <li id="menu_products" class="dropdown"> <a href="{{ _('/products/index.shtml.en') }}"> {{ _('PRODUCTS') }} </a>
                                                    <ul class="dropdown-menu">
                                                      <li><a href="{{ _('/opendatahub/') }}"> {{ _('OpenDataHub') }}</a></li>
                                                      <li><a href="{{ _('/products/amaca/index.shtml.en') }}"> {{ _('Amaca') }}</a></li>
                                                    </ul>
                                                  </li>
                                                  <li id="menu_services" class="single"> <a href="{{ _('/services/index.shtml.en') }}"> {{ _('SERVICES') }} </a></li>
                                                  <li id="menu_blog" class="single"> <a href="{{ _('http://blog.sciamlab.com/') }}"> {{ _('BLOG') }}</a></li>
                                                  <li id="menu_company" class="dropdown"> <a href="{{ _('/company/index.shtml.en') }}"> {{ _('COMPANY') }} </a>
                                                    <ul class="dropdown-menu">
                                                      <li><a href="{{ _('/company/index.shtml.en') }}">{{ _('About Us') }}</a></li>
                                                      <li><a href="{{ _('/company/labs.shtml.en') }}">{{ _('Labs') }}</a></li>
                                                      <li><a href="{{ _('/company/successstories.shtml.en') }}">{{ _('Success Stories') }}</a></li>
                                                      <li id="menu_timeline" class="single"><a href="{{ _('/timeline.php') }}">{{ _('Timeline') }}</a></li>
                                                      <li><a href="{{ _('/company/contact_us.shtml.en') }}">{{ _('Contacts') }}</a></li>
                                                    </ul>
                                                  </li>
                                                </ul>
                                  </div>
                                  <!-- Start User Menu -->
                                  {% block header_account %}
                                    {% block header_account_container_content %}

                                        <div class="nav-collapse pull-right">
                                                <ul class="nav nav-pills account avatar authed">
                                                {% if c.userobj %}
                                            {% block header_account_logged %}
                                                        <li class="dropdown" style="border-right:0px;">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#menu4">
                                                                        <span class="username">{{ c.userobj.display_name }}</span>
                                                                        {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                                                </a>
                                                                <ul class="dropdown-menu" role="menu" style="left:auto;right:0;">
                                                                        {% if c.userobj.sysadmin %}
                                                                        <li><a href="{{ h.url_for(controller='admin', action='index') }}"><i class="icon-legal"></i> {{ _('Sysadmin settings') }}</a></li>
																		<li><a href="{{ h.url_for(controller='user', action='dashboard') }}"><i class="icon-dashboard"></i> {{ _('Dashboard') }}{{ notifications_tooltip }}</a></li>
                                                                        {% endif %}
									{% set new_activities = h.new_activities() %}
                                                                        {% set notifications_tooltip = ngettext('Dashboard (%(num)s new item)', 'Dashboard (%(num)s new items)', new_activities) %}
                                                                        <li><a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}"><i class="icon-cog"></i> {{ _('View profile') }}</a></li>
                                                                        <li><a href="{{ h.url_for('/user/_logout') }}"><i class="icon-signout"></i>{{ _('Log out') }}</a></li>
                                                                </ul>
                                                        </li>
                                                        {% endblock %}
                                        {% else %}
                                                {% block header_account_notlogged %}
                                                        <li class="single active" style="border-right:0px;">{% link_for _('Log in'), controller='user', action='login' %}</li>
                                                {% endblock %}
                                        {% endif %}
                                                </ul>
                                        </div>
                                     {% endblock %}
                                  {% endblock %}
                                  <!-- End User Menu -->
                        </div>
                    </div>
                  </div>  <!-- end navbar -->
                </div> <!-- end container -->
</header>
<!-- END HEADER AREA -->
{% endblock %}

