{% resource 'ckanext-opendatahub/login' %}  
{% extends "user/page.html" %}

{%- block meta -%}

{%- endblock -%}

{% block subtitle %}
	{{ _('Login') }}
{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

