{% extends "user/page.html" %}
{%- block meta -%}

{%- endblock -%}


{% block subtitle %}
	{{ _('Register') }}
{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Register for an Account') }}{% endblock %}
      </h1>
      {{ c.form | safe }}
    </div>
  </article>
{% endblock %}

