{% import "macros/form.html" as form %}

<form class="form-horizontal" action="" method="post">
  {{ form.errors(error_summary) }}
  {{ form.input("name", id="field-username", label=_("Username"), placeholder="username", value=data.name, error=errors.name, classes=["control-medium"]) }}
  {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder="Joe Bloggs", value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
  {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder="joe@example.com", value=data.email, error=errors.email, classes=["control-medium"]) }}
  {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1, classes=["control-medium"]) }}
  {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password1, classes=["control-medium"]) }}

  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}

  <div class="form-actions">
    <button class="btn btn-primary" type="submit" name="save">{{ _("Create Account") }}</button>
  </div>
</form>

<div id="sociallogin" class="row">
   <div id="sociallogin_title" class="span12">
     <h1>{{ _("or access with your social account") }}</h1>
   </div>
  <div id="col1" class="span2">
     <div id="customBtnGh" onclick="gh_login();">
       <span class="iconGh"></span>
       <span class="buttonTextGh">{{ _("GitHub Sign in") }}</span>
     </div>
  </div>
   <div id="col2" class="span2">
     <div id="customBtn" class="customGPlusSignIn2">
       <span class="icon"></span>
       <span class="buttonText">{{ _("Google Sign in") }}</span>
     </div>
  </div>
  <div id="col3" class="span3">
     <div id="customBtnFb" onclick="fb_login();">
       <span class="iconFb"></span>
       <span class="buttonTextFb">{{ _("Facebook Sign in") }}</span>
     </div>
  </div>
</div>

