{% extends "page.html" %}

{% set user = c.user_dict %}

{% block subtitle %}{{ user.display_name }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('user_index', _('Users')) }}
  {{ h.build_nav('user_datasets', user.display_name|truncate(35), id=user.name) }}
{% endblock %}

{% block content_action %}
  {% if h.check_access('user_update', user) %}
    {% link_for _('Manage'), controller='user', action='edit', id=user.name, class_='btn', icon='wrench' %}
  {% endif %}
  {% link_for _('Edit settings'), controller='user', action='edit', id=user.name, class_='btn', icon='cog' %}
{% endblock %}

{% block content_primary_nav %}
<li class="active"><a href="/opendatahub/user/{{user.name}}"><i class="icon-sitemap"></i> {{_('Profile')}}</a></li>
{% endblock %}

{% block secondary_content %}
<div class="module context-info">
  <section class="module-content">
    {% block secondary_content_inner %}
      {% block user_image %}
      <div class="image">{{ h.linked_gravatar(user.email_hash, 190) }}</div>
      {% endblock %}
      {% block user_heading %}
      <h1 class="heading">{{ user.display_name }}</h1>
      {% endblock %}
      {% block user_about %}
      {% if c.about_formatted %}
        {{ c.about_formatted }}
      {% else %}
        <p class="empty">
          {% if c.is_myself %}
            {% trans %}You have not provided a biography.{% endtrans %}
          {% else %}
            {% trans %}This user has no biography.{% endtrans %}
          {% endif %}
        </p>
      {% endif %}
      {% endblock %}
      {% block user_nums %}
      <div class="nums">
        <dl>
          <dt>{{ _('Datasets') }}</dt>
          <dd>{{ h.SI_number_span(user.number_created_packages) }}</dd>
        </dl>
      </div>
      {% endblock %}
    {% endblock %}
  </section>
</div>
{% endblock %}
