{# Allows the DOCTYPE to be set on a page by page basis #}
{%- block doctype %}<!DOCTYPE html>{% endblock -%}

{# Allows custom attributes to be added to the <html> tag #}
{%- block htmltag -%}
{% set lang = h.lang() %}
<!--[if IE 7]> <html lang="{{ lang }}" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="{{ lang }}" class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}

  {# Allows custom attributes to be added to the <head> tag #}
  <head{% block headtag %}{% endblock %}>
    {#
    Add custom meta tags to the page. Call super() to get the default tags
    such as charset, viewport and generator.

    Example:

    {% block meta %}
      {{ super() }}
      <meta name="description" content="My website description" />
    {% endblock %}

    #}
    {%- block meta -%}
      <meta content="text/html; charset=utf-8" http-equiv="content-type">
      <meta name="keywords" content="knowledge data management amaca wscm process open big opendata bigdata machine learning algorithm environment smart devices city waste ckan socrata">
      <meta name="description" content="{{ _('Open Data Hub Italy') }}">
      <meta name="author" content="SciamLab Team">
      <meta name="robots" content="follow, index">
      <meta charset="utf-8" />
      {% block meta_generator %}<meta name="generator" content="ckan {{ c.__version__ }}" />{% endblock %}
    {%- endblock -%}

    {#
    Add a custom title to the page by extending the title block. Call super()
    to get the default page title.

    Example:

      {% block title %}My Subtitle - {{ super() }}{% endblock %}

    #}
    <title>
      {%- block title -%}
        {%- block subtitle %}{% endblock -%}
        {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%}
        {{ g.site_title }}
      {%- endblock -%}
    </title>

    {#
    The links block allows you to add additonal content before the stylesheets
    such as rss feeds and favicons in the same way as the meta block.
    #}
    {% block links -%}
      <!--  revolution slider plugin : begin -->
      <link rel="stylesheet" type="text/css" href="/showcase/old_www/rs-plugin/css/settings.css">
      <link rel="stylesheet" type="text/css" href="/showcase/old_www/css/rs-responsive.css">
      <!--  revolution slider plugin : end -->
      <link rel="stylesheet" href="/showcase/old_www/css/bootstrap.css">
      <link rel="stylesheet" href="/showcase/old_www/css/custom.css">
      <link rel="stylesheet" href="/showcase/old_www/css/isotope.css">
      <link rel="stylesheet" href="/showcase/old_www/css/color_scheme.css">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/showcase/old_www/css/font-awesome.css">
      <link rel="stylesheet" href="/showcase/old_www/css/font-awesome-ie7.css">
      <link rel="stylesheet" href="/showcase/old_www/css/flexslider.css">
      <link rel="stylesheet" href="/showcase/old_www/css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen">

      <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />
      <![endif]-->
      <!-- Used by Google Plus -->
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <!-- g:page href="https://plus.google.com/103228027286969347186"></g:page -->
      <link href="https://plus.google.com/" rel="publisher" />
      <link rel="shortcut icon" href="{{ g.favicon }}" />
    {% endblock -%}

    {#
    The styles block allows you to add additonal stylesheets to the page in
    the same way as the meta block. Use super() to include the default
    stylesheets before or after your own.

    Example:

      {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="/base/css/custom.css" />
      {% endblock %}
    #}
    {%- block styles %}
      {% resource g.main_css[6:] %}
    {% endblock %}

    {% block head_extras %}
      {# defined in the config.ini under "ckan.template_head_end" #}
      {{ g.template_head_end | safe }}
    {% endblock %}

    {%- block custom_styles %}
      {%- if g.site_custom_css -%}
      <style>
        {{ g.site_custom_css | safe }}
      </style>
      {%- endif %}
    {% endblock %}
  </head>

  {# Allows custom attributes to be added to the <body> tag #}
  <body{% block bodytag %} data-site-root="{{ h.url('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url('/', qualified=true) }}" {% endblock %}>

    {#
    The page block allows you to add content to the page. Most of the time it is
    recommended that you extend one of the page.html templates in order to get
    the site header and footer. If you need a clean page then this is the
    block to use.

    Example:

      {% block page %}
        <div>Some other page content</div>
      {% endblock %}
    #}
    {%- block page %}{% endblock -%}
