{# Allows the DOCTYPE to be set on a page by page basis #}
{%- block doctype %}
<!DOCTYPE html prefix="
	dct: http://purl.org/dc/terms/
	rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
	dcat: http://www.w3.org/ns/dcat#
	foaf: http://xmlns.com/foaf/0.1/"

	dcatapit: http://dati.gov.it/onto/dcatapit#
	vcard: http://www.w3.org/2006/vcard/ns#
	schema: http://schema.org/
	locn: http://www.w3.org/ns/locn#
	skos: http://www.w3.org/2004/02/skos/core#
	eu: http://eurovoc.europa.eu/schema#
	>
{% endblock -%}

{# Allows custom attributes to be added to the <html> tag #}
{%- block htmltag -%}
{% set lang = h.lang() %}
<!--[if IE 7]> <html lang="{{ lang }}" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="{{ lang }}" class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}

  {# Allows custom attributes to be added to the <head> tag #}
  <head{% block headtag %}{% endblock %}>
    {#
    Add custom meta tags to the page. Call super() to get the default tags
    such as charset, viewport and generator.

    Example:

    {% block meta %}
      {{ super() }}
      <meta name="description" content="My website description" />
    {% endblock %}

    #}
    {%- block meta -%}
      <meta content="text/html; charset=utf-8" http-equiv="content-type">
      <meta name="keywords" content="knowledge data management amaca wscm process open big opendata bigdata machine learning algorithm environment smart devices city waste ckan socrata">
      <!-- meta description defined per page -->
      <!--<meta name="description" content=" opendatahub.it is a platform for indexing and searching open datasets (Open Data). The index and the information about the dataset are built by Amaca search and data enrichment engine.ch automatically the metadata describing the dataset, making it easier and more effective for the user to search the needed data.">-->
      <meta name="author" content="SciamLab Team">
      <meta name="robots" content="follow, index">
      <meta charset="utf-8" />
      {% block meta_generator %}<meta name="generator" content="ckan {{ c.__version__ }}" />{% endblock %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% block meta_description %}<meta name="description" content="{{ _('Open Data Hub Italy') }} by SciamLab" />{% endblock %}
    {%- endblock -%}

    {#
    Add a custom title to the page by extending the title block. Call super()
    to get the default page title.

    Example:

      {% block title %}My Subtitle - {{ super() }}{% endblock %}

    #}
    <title>
      {%- block title -%}
        {%- block subtitle %}{% endblock -%} {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%} {{ _('Open Data Hub Italy') }}
      {%- endblock -%}
    </title>

    {#
    The links block allows you to add additonal content before the stylesheets
    such as rss feeds and favicons in the same way as the meta block.
    #}
    {% block links -%}
      <!--  revolution slider plugin : begin -->
      <!-- link rel="stylesheet" type="text/css" href="/showcase/old_www/rs-plugin/css/settings.css" -->
      <!-- link rel="stylesheet" type="text/css" href="/showcase/old_www/css/rs-responsive.css" -->
      <link rel="stylesheet" type="text/css" href="/showcase/old_www/css/deckaner.css">
      <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <!--  revolution slider plugin : end -->
      <link rel="stylesheet" href="/showcase/old_www/css/bootstrap.css">
      <link rel="stylesheet" href="/showcase/old_www/css/custom.css">
      <link rel="stylesheet" href="/showcase/old_www/css/isotope.css">
      <link rel="stylesheet" href="/showcase/old_www/css/color_scheme.css">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
      <!-- link rel="stylesheet" href="/showcase/old_www/css/font-awesome.css">
      <link rel="stylesheet" href="/showcase/old_www/css/font-awesome-ie7.css" -->
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/showcase/old_www/css/flexslider.css">
      <link rel="stylesheet" href="/showcase/old_www/css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen">
      <link rel="stylesheet" href="/showcase/old_www/css/jquery.fancybox.css?v=2.1.0" type="text/css">

      <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />
      <![endif]-->
      <!-- Used by Google Plus -->
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <!-- g:page href="https://plus.google.com/103228027286969347186"></g:page -->
      <link href="https://plus.google.com/" rel="publisher" />
      <link rel="shortcut icon" href="{{ g.favicon }}" />
    {% endblock -%}

    {#
    The styles block allows you to add additonal stylesheets to the page in
    the same way as the meta block. Use super() to include the default
    stylesheets before or after your own.

    Example:

      {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="/base/css/custom.css" />
      {% endblock %}
    #}
    {%- block styles %}
      {% resource g.main_css[6:] %}
    {% endblock %}

    {% block head_extras %}
      {# defined in the config.ini under "ckan.template_head_end" #}
      {{ g.template_head_end | safe }}
    {% endblock %}

    {%- block custom_styles %}
      {%- if g.site_custom_css -%}
      <style>
        {{ g.site_custom_css | safe }}
      </style>
      {%- endif %}
    {% endblock %}
  </head>

  {# Allows custom attributes to be added to the <body> tag #}
  <body{% block bodytag %} data-site-root="https://www.sciamlab.com/opendatahub/" data-locale-root="https://www.sciamlab.com/opendatahub/" {% endblock %}>

    {#
    The page block allows you to add content to the page. Most of the time it is
    recommended that you extend one of the page.html templates in order to get
    the site header and footer. If you need a clean page then this is the
    block to use.

    Example:

      {% block page %}
        <div>Some other page content</div>
      {% endblock %}
    #}
    {%- block page %}{% endblock -%}

    {#
    DO NOT USE THIS BLOCK FOR ADDING SCRIPTS
    Scripts should be loaded by the {% resource %} tag except in very special
    circumstances
    #}
    {%- block scripts %}
  
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/showcase/old_www/js/bootstrap.js"></script>
    <script type="text/javascript" src="/showcase/old_www/js/bootstrap-dropdown.js"></script>

   <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-38033959-1', 'auto');
     {% block google_analytics_extras -%}{%- endblock %}
     ga('require', 'displayfeatures');
     ga('require', 'linkid');
     ga('send', 'pageview');
    </script>
    
    <script>
    /**
    * Funzione che monitora un clic su un link in uscita in Google Analytics.
    * Questa funzione prende in considerazione e utilizza una stringa dell'URL valido
    * Come etichetta evento.
    */
    var trackGoToResource = function(res) { 
       ga('send', 'event', 'download', 'click', res, {'hitCallback':
         function () {
           console.log('download event sent to ga: ' + res);
         }
       });
    }
    </script> 
    <!-- GOOGLE ANALYTICS end -->
    
    {% endblock -%}

    {% block body_extras -%}
      {# defined in the config.ini under "ckan.template_footer_end" #}
      {{ g.template_footer_end | safe }}
    {%- endblock %}
  </body>
</html>
