	<div id="push"></div>
	</div>
<!-- FOOTER STARTS HERE -->
		<footer id="footer">
		  <div class="footer-top"></div>
		  <div class="footer-wrapper">
			<div class="container">
                                  {% block footer_content %}

                                  <div class="row">
				<div class="span12 text-center">
<img alt="" class="footer-logo" src="/img/sciamlab_logo_grey_254x78.png">
				</div>
			  </div>
                                {% endblock %}

          </div>
		  </div>
		  <div class="footer-bottom">
			<div class="container">
			  <div class="row">
				<!-- FOOTER: COPYRIGHT TEXT -->
				<div class="span12 text-center">
				  <p> Copyright &copy; 2013-2018 SciamLab s.r.l.</p>
				</div>
			  </div>
			</div>
		  </div>
                  {% block footer_debug %}
                        {% if g.debug %}
                          {% include 'snippets/debug.html' %}
                        {% endif %}
                  {% endblock %}
        </footer>
<!--
<div class="ticker-wrap">
<div class="ticker">
  <div class="ticker__item">I dataset del Comune di Milano sono attualmente in aggiornamento</div>
  <div class="ticker__item">Presto verranno aggiunti i dataset di Ancitel</div>
  <div class="ticker__item">Il prossimo aggiornamento dei dataset a livello regionale è previsto per il 28 Gennaio 2018</div>
</div>
</div>
-->

