{% block header_wrapper %}{% block header_account %}
<!-- Start User Menu -->
	<ul class="nav nav-pills account avatar authed" style="margin-right: 0;">{% if c.userobj %}{% block header_account_logged %}
		<li class="dropdown" style="border-right:0px;">
			<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#menu4">
				<span class="username">{{ c.userobj.display_name }}</span>
				{{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
			</a>
			<ul class="dropdown-menu" role="menu" style="left:auto;right:0;">
			{% if c.userobj.sysadmin %}
				<li><a href="{{ h.url_for(controller='admin', action='index') }}"><i class="icon-legal"></i> {{ _('Sysadmin settings') }}</a></li>
                <li><a href="{{ h.url_for(controller='user', action='dashboard') }}"><i class="icon-dashboard"></i> {{ _('Dashboard') }}{{ notifications_tooltip }}</a></li>
			{% endif %}
                        {% set new_activities = h.new_activities() %}
			{% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
				<li><a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}"><i class="icon-cog"></i> {{ _('View profile') }}</a></li>
				<li><a href="{{ h.url_for('/user/_logout') }}"><i class="icon-signout"></i> {{ _('Log out') }}</a></li>
			</ul>
		</li>
                <div id="userapikey" style="display:none;" value="{{ c.userobj.apikey }}"></div>
                {% endblock %}{% else %}{% block header_account_notlogged %}
			<li class="single" style="border-right:0px;"><a href="{{ h.url_for('/user/login') }}">{{ _('Log in') }}</a></li>
                        <div id="userapikey" style="display:none;" value=""></div>{% endblock %}{% endif %}
	</ul>{% endblock %}
<!-- End User Menu -->
{% endblock %}
