{% block header_wrapper %}
<!-- THE LINE AT THE VERY TOP OF THE PAGE -->
<div class="top_line"></div>
<!-- START HEADER AREA -->
<header>
                          <div class="container">
                                <div class="row">
                                  <!-- HEADER: LOGO AREA -->
                                  <div class="span6 logo"> <a class="logo" href="/opendatahub"> <img alt="logo"
                                                title="SciamLab" src="/images//images/sciamlab_logo_small_odhubit.png" style="max-width: 125%;"> </a> </div>
                                  <div class="span4 offset2">
                                        <!-- HEADER: PHONE NUMBER -->
                                        <p class="head_phone">{{ _('OpenData Hub Italy') }}</p>

                                  <!-- /div -->
                                  <!-- HEADER: SOCIAL ICONS -->
                                  <ul class="socials unstyled">
                                        <li><a class="twitter" href="http://twitter.com/sciamlab"></a><br>
                                        </li>
                                        <li><a class="facebook" href="https://www.facebook.com/sciamlab.engineering"></a><br>
                                        </li>
                                        <li><a class="gplus" href="https://plus.google.com/103228027286969347186?prsrc=3" data-rel="publisher" target="_top"></a><br>
                                        </li>
                                  </ul>
                                 </div>
                                </div>
                          </div>
                          <!-- HEADER: PRIMARY SITE NAVIGATION -->
                          <div class="container">
                                <div class="navbar">
                                  <div class="navbar-inner">
                                        <div class="container">
                                          <div class="buttons-container"> </div>
                                          <div class="nav-collapse">
                                                <ul class="nav nav-pills">
                                                  <li id="menu_home" class="single"><a href="/">HOME</a></li>
                                                  <li id="menu_products" class="dropdown active"> <a class="dropdown-toggle" data-toggle="dropdown"
                                                          href="#menu1"> PRODUCTS </a>
                                                        <ul class="dropdown-menu">
                                                          <li><a href="/opendatahub">Amaca Open Data Hub</a></li>
                                                          <li><a href="/products/amaca_ss.html">Amaca Search Studio</a></li>
                                                          <li><a href="/products/amaca_cde.html">Amaca Content Discovery Engine</a></li>
                                                          <li><a href="/products/amaca_geoevent.html">Amaca Data API</a></li>
                                                        </ul>
                                                  </li>
                                                  <li id="menu_services" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                                                          href="#menu2"> SERVICES AND SOLUTIONS </a>
                                                        <ul class="dropdown-menu">
                                                          <li><a href="/solutions/bdh_services.html">BigData and Hadoop Professional Services</a></li>
                                                          <li><a href="/solutions/pd_services.html">Public Data Professional Services</a></li>
                                                          <li><a href="/solutions/amaca_pdms.html">Amaca Public Data Mining Platform</a></li>
                                                          <li><a href="/solutions/swcp.html">Smart Waste Collection Solution</a></li>
                                                        </ul>
                                                  </li>
                                                  <li id="menu_company" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                                                          href="#menu3"> COMPANY </a>
                                                        <ul class="dropdown-menu">
                                                          <li><a href="/company">About</a></li>
                                                          <li><a href="/company/contact_us.shtml">Contact</a></li>
                                                          <li><a href="/company/faqs.shtml">FAQ</a></li>
                                                        </ul>
                                                  </li>
                                                  <li id="menu_blog" class="single"> <a href="http://blog.sciamlab.com/blog.html"> BLOG</a>
                                                  </li>
                                          </ul>
                                  </div>
                                  <!-- Start User Menu -->
                                  {% block header_account %}
                                    {% block header_account_container_content %}

                                        <div class="nav-collapse pull-right">
                                                <ul class="nav nav-pills account avatar authed">
                                                {% if c.userobj %}
                                            {% block header_account_logged %}
                                                        <li class="dropdown" style="border-right:0px;">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#menu4">
                                                                        <span class="username">{{ c.userobj.display_name }}</span>
                                                                        {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                                                </a>
                                                                <ul class="dropdown-menu" role="menu" style="left:auto;right:0;">
                                                                        {% if c.userobj.sysadmin %}
                                                                        <li><a href="{{ h.url_for(controller='admin', action='index') }}"><i class="icon-legal"></i> {{ _('Sysadmin settings') }}</a></li>
                                                                        {% endif %}
									{% set new_activities = h.new_activities() %}
                                                                        {% set notifications_tooltip = ngettext('Dashboard (%(num)s new item)', 'Dashboard (%(num)s new items)', new_activities) %}
                                                                        <li><a href="{{ h.url_for(controller='user', action='dashboard') }}"><i class="icon-dashboard"></i> {{ notifications_tooltip }}</a></li>
                                                                        <li><a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}"><i class="icon-cog"></i> {{ _('View profile') }}</a></li>
                                                                        <li><a href="{{ h.url_for('/user/_logout') }}"><i class="icon-signout"></i>{{ _('Log out') }}</a></li>
                                                                </ul>
                                                        </li>
                                                        {% endblock %}
                                        {% else %}
                                                {% block header_account_notlogged %}
                                                        <li class="single" style="border-right:0px;">{% link_for _('Log in'), controller='user', action='login' %}</li>
                                                {% endblock %}
                                        {% endif %}
                                                </ul>
                                        </div>
                                     {% endblock %}
                                  {% endblock %}
                                  <!-- End User Menu -->
                        </div>
                    </div>
                  </div>  <!-- end navbar -->
                </div> <!-- end container -->
</header>
<!-- END HEADER AREA -->
{% endblock %}

