<section class="additional-info">
<h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col" style="width:35%">{{ _('Field') }}</th>
        <th scope="col" style="width:65%">{{ _('Value') }}</th>
      </tr>
    </thead>

	<tbody>
          <tr>
            <th scope="row" class="dataset-label">{{ _('Identifier') }}</th>
            <td class="dataset-details" property="dct:identifier">{{ pkg_dict.id }}</td>
          </tr>

        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Landing page') }}</th>
            <td class="dataset-details">{{ h.link_to(pkg_dict.url, pkg_dict.url, property='dcat:landingPage', target='_blank') }}</td>
          </tr>
        {% endif %}

	</tbody>

        {% if pkg_dict.author %}
	<tbody property='dcat:contactPoint' typeof='dcatapit:Organization vcard:Kind'>
          <tr>
            <th scope="row" class="dataset-label">{{ _("Contact point") }}</th>
            <td class="dataset-details" property="vcard:fn">{{ pkg_dict.author }}</td>
          </tr>
        {% if pkg_dict.author_email %}
	  <tr>
            <th scope="row" class="dataset-label">{{ _("Contact point email") }}</th>
            <td class="dataset-details">
		<a property="vcard:hasEmail" href="mailto:{{pkg_dict.author_email}}">{{ pkg_dict.author_email }}</a>
	    </td>
          </tr>
        {% endif %}
	</tbody>
        {% endif %}

    <tbody>
	{% set vars = {} %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
		<!--p>{{extra}}</p-->
		{% set key, value = extra %}
		{% if key=='language' %}		{% set _dummy = vars.update({'language': value}) %}
		{% elif key=='language-uri' %}		{% set _dummy = vars.update({'language_uri': value}) %}
		{% elif key=='temporal_start' %}	{% set _dummy = vars.update({'temporal_start': value}) %}
		{% elif key=='temporal_end' %}		{% set _dummy = vars.update({'temporal_end': value}) %}
		{% elif key=='issued' %}		{% set _dummy = vars.update({'issued': value}) %}
		{% elif key=='modified' %}		{% set _dummy = vars.update({'modified': value}) %}
		{% elif key=='frequency' %}		{% set _dummy = vars.update({'frequency': value}) %}
		{% elif key=='frequency-uri' %}		{% set _dummy = vars.update({'frequency_uri': value}) %}
		{% elif key=='category' %}		{% set _dummy = vars.update({'category': value}) %}
		{% elif key=='category-uri' %}		{% set _dummy = vars.update({'category_uri': value}) %}
		{% elif key=='publisher' %}		{% set _dummy = vars.update({'publisher_id': value}) %}
		{% elif key=='spc' %}			{% set _dummy = vars.update({'publisher_spc': value}) %}
		{% elif key=='amaca' %}			{% set _dummy = vars.update({'publisher_amaca': value}) %}
		{% elif key=='dbpedia' %}		{% set _dummy = vars.update({'publisher_dbpedia': value}) %}
		{% elif key=='dataset-original-name' %}	{% set _dummy = vars.update({'dataset_original_name': value}) %}
		{% elif key=='catalog' %}		{% set _dummy = vars.update({'catalog': value}) %}
		{% elif key=='eurovoc-concept-code' %}	{% set _dummy = vars.update({'eurovoc_concept_code': value}) %}
		{% elif key=='eurovoc-concept-label' %}	{% set _dummy = vars.update({'eurovoc_concept_label': value}) %}
		{% elif key=='eurovoc-concept-uri' %}	{% set _dummy = vars.update({'eurovoc_concept_uri': value}) %}
		{% elif key=='eurovoc-field-code' %}	{% set _dummy = vars.update({'eurovoc_field_code': value}) %}
		{% elif key=='eurovoc-field-label' %}	{% set _dummy = vars.update({'eurovoc_field_label': value}) %}
		{% elif key=='eurovoc-field-uri' %}	{% set _dummy = vars.update({'eurovoc_field_uri': value}) %}
		{% elif key=='eurovoc-microthesaurus-code' %}	{% set _dummy = vars.update({'eurovoc_microthesaurus_code': value}) %}
		{% elif key=='eurovoc-microthesaurus-label' %}	{% set _dummy = vars.update({'eurovoc_microthesaurus_label': value}) %}
		{% elif key=='eurovoc-microthesaurus-uri' %}	{% set _dummy = vars.update({'eurovoc_microthesaurus_uri': value}) %}
		{% elif key=='spatial' %}		{% set _dummy = vars.update({'spatial': value}) %}
		{% endif %}
        {% endfor %}
        {% if vars.language and vars.language_uri%}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Language") }}</th>
            <td class="dataset-details" property='dct:language' resource="{{vars.language_uri}}">{{vars.language}}</td>
          </tr>
	{% endif %}

        {% if vars.temporal_start and vars.temporal_end %}
          <tr property='dct:temporal' typeof='dct:PeriodOfTime'>
            <th scope="row" class="dataset-label">{{ _("Temporal") }}</th>
            <td class="dataset-details">
		<span property="schema:startDate" content='{{temporal_start}}' datatype='xsd:dateTime'>{{ h.render_datetime(vars.temporal_start, with_hours=False) }}</span>
		 - <span property="schema:endDate" content='{{temporal_end}}' datatype='xsd:dateTime'>{{ h.render_datetime(vars.temporal_end, with_hours=False) }}</span>
	    </td>
          </tr>
	{% endif %}

	{% if vars.issued %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Issued") }}</th>
            <td class="dataset-details" property="dct:issued" content='{{vars.issued}}' datatype='xsd:dateTime'>{{ h.render_datetime(vars.issued, with_hours=False) }}</td>
          </tr>
        {% endif %}

	{% if vars.modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Modified") }}</th>
            <td class="dataset-details" property="dct:modified" content='{{vars.modified}}' datatype='xsd:dateTime'>{{ h.render_datetime(vars.modified, with_hours=False) }}</td>
          </tr>
        {% endif %}

        {% if vars.frequency and vars.frequency_uri %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Accrual periodicity") }}</th>
            <td class="dataset-details" property='dct:accrualPeriodicity' resource="{{vars.frequency_uri}}">{{ _(vars.frequency)}}</td>
          </tr>
	{% endif %}

        {% if vars.category and vars.category_uri %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Category") }} *beta*</th>
            <td class="dataset-details" property='dcat:theme' resource="{{vars.category_uri}}">{{_(vars.category)}}</td>
          </tr>
	{% endif %}

        {% if vars.publisher_id and vars.publisher_spc %}
          <tr property='dct:publisher dct:rightsHolder' typeof='dcatapit:Agent foaf:Agent' resource="{{vars.publisher_spc}}">
            <th scope="row" class="dataset-label">{{ _("Publisher") }}</th>
            <td class="dataset-details">
		<span property='foaf:name'>{{pkg_dict.organization.title}}</span>
		 (IPA: <span property='dct:identifier'>{{vars.publisher_spc.split('/')|last}}</span>)</td>
          </tr>
	{% if vars.publisher_dbpedia %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("DBPedia") }}</th>
            <td class="dataset-details">
		<a href="{{vars.publisher_dbpedia}}" target="_blank">{{vars.publisher_dbpedia}}</a>
	    </td>
          </tr>
	{% endif %}
	{% if vars.publisher_amaca %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Amaca") }}</th>
            <td class="dataset-details">
		<a href="{{vars.publisher_amaca}}?key={{cc.userobj.apikey }}" target="_blank">{{vars.publisher_amaca}}</a>
	    </td>
          </tr>
	{% endif %}
	{% endif %}

        {% if vars.dataset_original_name %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Dataset original identifier") }}</th>
            <td class="dataset-details">{{ vars.dataset_original_name}}</td>
          </tr>
	{% endif %}

        {% if vars.catalog %}
          <tr style="display:none">
            <th scope="row" class="dataset-label">{{ _("Catalog") }}</th>
            <td class="dataset-details" >{{vars.catalog}}</td>
          </tr>
	{% endif %}

    </tbody>

        {% if vars.spatial %}
	<tbody property="dct:spatial" typeof="dct:location" style="display:none">
          <tr>
            <th scope="row" class="dataset-label">{{ _("GeoJSON") }}</th>
            <td class="dataset-details" property="locn:geometry" datatype='https://www.iana.org/assignments/media-types/application/vnd.geo+json'>
		{{vars.spatial}}</td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">{{ _("WKT") }}</th>
            <td class="dataset-details" property="locn:geometry" datatype='http://www.opengis.net/ont/geosparql#wktLiteral'>
		{{h.convert_to_wkt(vars.spatial)}}</td>
          </tr>
	</tbody>
	{% endif %}

    <tbody>
      {% block package_additional_info %}

      {% block extras scoped %}
	{% set extras = h.sorted_extras(pkg_dict.extras) %}
        {% for extra in extras %}
          {% set key, value = extra %}

          {% if key not in ['language-uri','language','temporal_start','temporal_end','issued','modified',
		'frequency','frequency-uri','category','category-uri','publisher','spc','amaca','dbpedia','spatial',
		'dataset-original-name','catalog'] and 'eurovoc-' not in key %}
          <tr>
            <th scope="row" class="dataset-label">{{ _(key) }}</th>
		<td class="dataset-details">
		{% if value.startswith('http') %}
			<a href="{{ value }}">{{ value }}</a>
		{% elif value=='' %} {{ value }}
		{% else %} {{ _(value) }}
		{% endif %}
		</td>
          </tr>
          {% else %}

          {% endif %}
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>

<h3>{{ _('Eurovoc classification') }} *beta*</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col" style="width:35%">{{ _('Field') }}</th>
        <th scope="col" style="width:65%">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody property='dcat:theme' resource="{{vars.eurovoc_concept_uri}}">
	<tr >
        	<th scope="row" class="dataset-label">{{ _("Concept") }}</th>
        	<td class="dataset-details">
			<a href="{{vars.eurovoc_concept_uri}}" target="_blank">
                	<span property="skos:prefLabel@it">{{vars.eurovoc_concept_label}}</span>
	                 (ID: <span property='dct:identifier'>{{vars.eurovoc_concept_code}}</span>)
			</a>
		</td>
        </tr>
	<tr>
        	<th scope="row" class="dataset-label">{{ _("MicroThesaurus") }}</th>
        	<td class="dataset-details">
			<a href="{{vars.eurovoc_microthesaurus_uri}}" target="_blank">
                	<span property='skos:prefLabel@it'>{{vars.eurovoc_microthesaurus_label}}</span>
	                 (ID: <span property='dct:identifier'>{{vars.eurovoc_microthesaurus_code}}</span>)
			</a>
		</td>
        </tr>
	<tr>
        	<th scope="row" class="dataset-label">{{ _("Domain") }}</th>
        	<td class="dataset-details">
			<a href="{{vars.eurovoc_field_uri}}" target="_blank">
                	<span property='skos:prefLabel@it'>{{vars.eurovoc_field_label}}</span>
	                 (ID: <span property='dct:identifier'>{{vars.eurovoc_field_code}}</span>)
			</a>
		</td>
        </tr>
    </tbody>
</table>


</section>
