{% set current_url = h.full_current_url() %}
<section class="module module-narrow social">
<h2 class="module-heading"><i class="icon-medium icon-share"></i> {{ _('Api') }}</h2>
  <ul class="nav nav-simple">
    <li class="nav-item">
	<a href="https://data.sciamlab.com/api/ckan/v3/action/package_show?id={{ pkg_dict.name }}&key={{cc.userobj.apikey }}" target="_blank">
	<i class="fa fa-code" style="font-weight:bold;margin-right: 4px;"></i>JSON</a>
    </li>
  </ul>
</section>
