{% resource 'ckanext-opendatahub/rating' %}  
{% set current_url = h.full_current_url() %}
<section class="module module-narrow social">
<h2 class="module-heading"><i class="icon-medium icon-star"></i> {{ _('Rating') }}</h2>
<div class="context-info">
<section class="module-content">
<h1 class="heading" id="rating_value">-</h1>
<p class="empty" style="padding-bottom:10px;">{{ _('Within') }} <span id="rating_count">0</span> {{ _('total voters') }}</p>
<div class="rating active">
        <span id="5">☆</span>
        <span id="4">☆</span>
        <span id="3">☆</span>
        <span id="2">☆</span>
        <span id="1">☆</span>
</div>
<p id="hint-user" class="empty" style="padding:10px 0 0 0;">{{ _('Vote the dataset choosing the appropriate level') }}</p>
<p id="hint-nouser" class="empty" style="padding:10px 0 0 0;">{{ _('You need to log in to vote a dataset') }}</p>
</section>
</div>
<div id="username" style="display:none">{{user.name}}</div>
<div id="ds" style="display:none">{{pkg.name}}</div>
<div id="label_5" style="display:none">{{ _('Excellent') }}</div>
<div id="label_4" style="display:none">{{ _('Good') }}</div>
<div id="label_3" style="display:none">{{ _('Average') }}</div>
<div id="label_2" style="display:none">{{ _('Poor') }}</div>
<div id="label_1" style="display:none">{{ _('Awful') }}</div>
</section>
