{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
{% set organization = pkg.organization.title or pkg.organization.name %}
<li class="resource-item" data-id="{{ res.id }}" property='dcat:distribution' typeof='dcat:Distribution dcatapit:Distribution'>
  {% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    <span property="dct:title" content="{{res.name}}">{{ h.resource_display_name(res) | truncate(50) }}</span>
    <span class="format-label" data-format="{{ res.format.lower() or 'data' }}" 
	property="dct:format" resource="http://publications.europa.eu/resource/authority/file-type/{{res.format|upper}}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="description" property="dct:description" content="{{res.description}}">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=80) }}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="icon-share-alt"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ url }}">
          {% if res.has_views %}
            <i class="icon-bar-chart"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="icon-info-sign"></i>
            {{ _('More information') }}
          {% endif %}
        </a>
      </li>
      {% if res.url and h.is_url(res.url) %}
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank" 
		property="dcat:downloadURL"
		onclick='trackGoToResource("{{ res.id }}|{{ organization|forceescape }}|{{ h.dataset_display_name(pkg)|forceescape }}|{{ h.resource_display_name(res)|forceescape }}|{{ res.format|forceescape }}|{{ res.url }}"); return true;'>
          {% if res.has_views %}
            <i class="icon-download"></i>
            {{ _('Download') }}
          {% else %}
            <i class="icon-external-link"></i>
            {{ _('Go to resource') }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <i class="icon-edit"></i>
          {{ _('Edit') }}
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  <a href="{{ pkg.url }}" style="display:none" property="dcat:accessURL"></a>
  {% endif %}
  {% endblock %}
</li>
