{# 
Renders the login form.

action        - The url that the form should be submitted to.
error_summary - A tuple/list of form errors.

Example:

  {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}

#}
{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}
<form action="{{ action }}" method="post" class="form-horizontal">
  {{ form.errors(errors=error_summary) }}

  {{ form.input('login', label=_("Username"), id='field-login', value="", error=username_error, classes=["control-medium"]) }}

  {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"]) }}

  {{ form.checkbox('remember', label=_("Remember me"), id='field-remember', checked=true, value="63072000") }}

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
  </div>
</form>
<div id="sociallogin" class="row">
   <div id="sociallogin_title" class="span12">
     <h1>{{ _("or access with your social account") }}</h1>
   </div>
  <div id="col1" class="span2">
     <div id="customBtnGh" onclick="gh_login();">
       <span class="iconGh"></span>
       <span class="buttonTextGh">{{ _("GitHub Sign in") }}</span>
     </div>
  </div>
   <div id="col2" class="span2">
     <div id="customBtn" class="customGPlusSignIn2">
       <span class="icon"></span>
       <span class="buttonText">{{ _("Google Sign in") }}</span>
     </div>
  </div>
  <div id="col3" class="span3">
     <div id="customBtnFb" onclick="fb_login();">
       <span class="iconFb"></span>
       <span class="buttonTextFb">{{ _("Facebook Sign in") }}</span>
     </div>
  </div>
</div>

