{% extends "page.html" %}

{% block meta_description %}
      <meta name="description" content="{{ _('Open Data published by') }} {{ c.group_dict.display_name }}. {{ _('Datasets freed by the organization are polished, organized, categorized and enriched to give the user the best data quality and complete information.') }}" />
{% endblock %}

{% block subtitle %}{{ c.group_dict.display_name }}{% endblock %}

{% block breadcrumb_content %}
  <!--li class="active"><a href="{{ _('/products/index.shtml.en') }}">{{ _('Products') }}</a></li-->
  <li class="active"><a href="{{ _('/opendatahub/') }}">{{ _('OpenDataHub') }}</a></li>
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li>{{ c.group_dict.display_name|truncate(35) }}</li>
{% endblock %}

{% block content_action %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    {% link_for _('Manage'), controller='organization', action='edit', id=c.group_dict.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('organization_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_about', _('About'), id=c.group_dict.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet 'snippets/organization.html', organization=c.group_dict, show_nums=true %}
  {% block organization_facets %}{% endblock %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "organization/snippets/feeds.html" %}
{% endblock %}
