<p> 
{% trans %}<strong>opendatahub.it</strong> is an indexing platform for open datasets (<a href='http://opendefinition.org/od/2.0/en/'>Open Data</a>) available in Italy.{% endtrans %}
</p>
<p>
{% trans %}The index and information about the datasets are compiled and kept updated by a search and data enrichment engine created by SciamLab and called <a href='http://www.sciamlab.com/products/amaca/index'>Amaca</a>.{% endtrans %}
</p>
<p>
{% trans %}Amaca uses <a href='http://hadoop.apache.org/'>Apache Hadoop</a> to process and maintain the catalogue update cycle within the limits of a few hours. In the elaboration, which is done through <a href='http://wiki.apache.org/hadoop/MapReduce'>MapReduce</a>, algorithms and learning techniques have been employed to analyse the Italian texts and to produce and enrich automatically the datasets metadata, making the dataset research simpler and more effective for the end user.<p>Besides, Amaca provides the extraction of part of the metadata from Public Administrations and Public and Private Organizations/Companies using the available public APIs or, when not available, through the extraction of the information directly from the HTML code.{% endtrans %}
</p>
<p>
{% trans %}In the project OpenDataHub, other than the Amaca Platform core, the Amaca Open Data and Amaca Premium specialized modules have been used, which include the connectors to the following realm/API:{% endtrans %}
</p>
<table class="table table-striped table-bordered table-condensed">
<tr class="dataset-label"><th>Realm</th><th>API</th><th>{% trans %}Support Type{% endtrans %}</th></tr>
<tr class="dataset-details"><td>CKAN</td><td><a href='http://docs.ckan.org/en/ckan-2.1/legacy-api.html'>CKAN API v1/v2</a></td><td>{% trans %}Full support{% endtrans %}</td></tr>
<tr class="dataset-details"><td>CKAN</td><td><a href='http://docs.ckan.org/en/ckan-2.1/api.html'>CKAN API v3</a></td><td>{% trans %}Full support, including API used by CKAN extensions{% endtrans %}</td></tr>
<tr class="dataset-details"><td>Socrata</td><td><a href='http://dev.socrata.com/'>Socrata Open Data API (SODA)</a></td><td>{% trans %}Full support{% endtrans %}</td></tr>
<tr class="dataset-details"><td>Open Data Protocol</td><td><a href='https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=odata'>Open Data Protocol (OData)</a></td><td>{% trans %}Supported only <a href='http://docs.oasis-open.org/odata/odata-atom-format/v4.0/cs01/odata-atom-format-v4.0-cs01.html'>OData Atom v4.0</a>.{% endtrans %}</td></tr>
<tr class="dataset-details"><td>Google</td><td><a href='https://developers.google.com/apis-explorer'>Google API</a></td><td>{% trans %}Support for the following API:{% endtrans %}
<ul>
<li><a href='https://developers.google.com/google-apps/spreadsheets/'>Spreadsheet Data API v3</a></li>
<li><a href='https://developers.google.com/google-apps/calendar/'>Calendar API v3</a></li>
<li><a href='https://developers.google.com/maps/documentation/mapsdata/'>Maps API</a></li>
<li><a href='https://developers.google.com/drive/'>Google Drive API</a></li>
<li><a href='https://developers.google.com/freebase/'>Freebase Search v1</a></li>
<li><a href='http://code.google.com/apis/urlshortener/v1/getting_started.html'>URL Shortener API v1</a></li>
</ul>
</td></tr>
<tr class="dataset-details"><td>RSS</td><td><a href='http://www.rssboard.org/rss-specification'>RSS 2.0 Feed</a></td><td>{% trans %}Full support{% endtrans %}</td></tr>
</table>
<p>
{% trans %}The internal data model employed by Amaca complies with <a href='http://www.w3.org/TR/vocab-dcat/'>DCAT</a> format and supports the <a href='https://joinup.ec.europa.eu/asset/dcat_application_profile/asset_release/dcat-application-profile-data-portals-europe-final'>DCAT-AP Application Profile</a> for interoperability between European portals in which precisely define the minimum set of information that must be present in the descriptive metadata of open datasets.{% endtrans %}
</p>
<p>
{% trans %}<strong>The internal model of dataset is easily interoperable with any platform and allows Amaca to publish the information in the most common open data catalogues as <a href='http://ckan.org/'>CKAN</a>, <a href='http://www.socrata.com/'>Socrata</a>, <a href='http://datapublic.org/'>DataPublic</a>, etc.</strong>{% endtrans %}
</p>
<p>
{% trans %}The architecture of the Open Data Hub platform is illustrated in the figure below:{% endtrans %}
</p>
<img src='/opendatahub/img/odh_arch.png'/>
<p></p>
<p>
{% trans %}In addition to the Public Administrations we added additional sources including public available content on the network but not necessarily classified as open data. Examples of public available data deliberately opened by whom have created or published them are: Web tables, <a href='http://en.wikipedia.org/wiki/Google_Fusion_Tables'>Fusion Tables</a> and others.{% endtrans %}
</p>
