{% resource 'ckanext-opendatahub/home' %}  
	
	{% set tags = h.get_facet_items_dict('tags', limit=3) %}
	{% set placeholder = _('eg. Gold Prices') %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "http://www.sciamlab.com",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://www.sciamlab.com/opendatahub/dataset?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

	<!-- {{ h.dsstats()['total'] }} -->
        <div class="module module-search module-narrow module-shallow">
	<form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
	<h3 class="heading">{% trans dsstats=h.dsstats()['total'] %}Search Your Data. We have {{ dsstats }} Datasets{% endtrans %}<span style="font-size:16px;"> ({% trans dsstatsopen=h.dsstats()['opendata'] %}{{ dsstatsopen }} have open licenses{% endtrans %})</span>.</h3>
		<div class="search-input control-group search-giant">
		  <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" />
		  <button type="submit">
		    <i class="icon-search"></i>
		    <span>{{ _('Search') }}</span>
		  </button>
		</div>
	</form>
	</div>


	<!-- begin infographic_div -->
	<div id="infographic_div" class="module prose" style="margin: 0;">
		<header class="module-content page-header" style="padding-top:5px; margin-bottom:5px;">
			<ul class="nav nav-tabs">
				<li id="wordcloud-li"><a href="?t=tcloud"><i class="icon-eye-open"></i> Tag Cloud</a></li>
				<li id="eurovoc-li"><a href="?t=eurovoc"><i class="icon-cog"></i>  {{ _('Eurovoc Classification (beta)') }}</a></li>
				<!--li id="dcat-li"><a href="?t=dcat"><i class="icon-tags"></i> D-CAT Classification (beta)</a></li-->
			</ul>
		</header>
		<div id="cloud" style=""></div>
	</div>
	<!-- end infographic_div -->
