
<div id="maincontent" class="row show-grid clear-both" style="margin-top: -30px;">
  <form class="form-inline" style="margin: 20px 0 10px 0;">
  <div class="form-group controls controls-row">
    <div id="control-group" class="input-prepend input-append control-group">
      <div class="span3 offset2">
      <select id="dim1" class="span3 offset2" style="font-family: 'Open Sans', Arial, sans-serif;width:100%">
        <option value="license_id">{{ _("License")}}</option>
        <option  value="category" selected>{{ _("Category")}}</option>
        <option value="format">{{ _("Format")}}</option>
        <option value="publisher_type">{{ _("Publisher Type")}}</option>
      </select>
      </div>
      <div id="swapbutton" class="span3 add-on" style="margin-left:20px" data-toggle="tooltip" data-title="{{ _("Swap dimensions")}}" data-trigger="hover"><img src="/img/swapico.png" width="22" /></div>
      <div class="span3">
      <select id="dim2" class="span4" style="font-family: 'Open Sans', Arial, sans-serif;width:100%">
        <option value="license_id" selected>{{ _("License")}}</option>
        <option value="category">{{ _("Category")}}</option>
        <option value="format">{{ _("Format")}}</option>
        <option value="publisher_type">{{ _("Publisher Type")}}</option>
      </select>
      </div>
    </div>
  </div>
</form>

<style>
svg text{
  font-size:12px;
  font-family: 'Catamaran', sans-serif;
}
rect{
	shape-rendering:crispEdges;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 100px;                  
  /*height: 28px;                 */
  font: 12px sans-serif;        
  background: none !important;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.tooltip-inner {
  padding-left:4px;
}

@media (max-width: 767px) {
 #swapbutton {
   margin-top:10px;
   margin-bottom:10px;
   min-height:32px;
 }
}


</style>
<link href='//fonts.googleapis.com/css?family=Catamaran:400,700' rel='stylesheet' type='text/css'>

</div>
<!-- end maincontent -->
