{% extends "base.html" %}

{%- block page -%}

  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            {% set flash_messages = h.flash.pop_messages() | list %}
            <div class="flash-messages">
              {% for message in flash_messages %}
                <div class="alert fade in {{ message.category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            </div>
          {% endblock %}

          {% block toolbar %}
            <div class="toolbar">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                        <div id="breadcrumb">
                        <ul vocab="http://schema.org/" typeof="BreadcrumbList">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                {% block breadcrumb_content %}

<!--li property="itemListElement" typeof="ListItem" class="active">
	<a property="item" typeof="WebPage" href="{{ _('/products/index.shtml.en') }}">{{ _('Products') }}</a>
</li-->
<li property="itemListElement" typeof="ListItem" class="active">
	<a property="item" typeof="WebPage" href="{{ _('/opendatahub/') }}">{{ _('OpenDataHub') }}</a>
</li>
{% if pkg %}
	{% set dataset = pkg.title or pkg.name %}
	{% if pkg.organization %}
		{% set organization = pkg.organization.title or pkg.organization.name %}
		<li property="itemListElement" typeof="ListItem">{% link_for _('Organizations'), controller='organization', action='index' %}</li>
		<li property="itemListElement" typeof="ListItem">{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
	{% else %}
		<li property="itemListElement" typeof="ListItem">{% link_for _('Datasets'), controller='package', action='search' %}</li>
	{% endif %}
	<li property="itemListElement" typeof="ListItem" class="active">{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
{% else %}
	<li property="itemListElement" typeof="ListItem">{% link_for _('Datasets'), controller='package', action='search' %}</li>
	<li property="itemListElement" typeof="ListItem" class="active">
		<a property="item" typeof="WebPage" href="">{{ _('Create Dataset') }}</a>
	</li>
{% endif %}

		{% endblock %}
                        </ul>
                        </div>
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}

          <div class="wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}"
		{% block dcat_resource_type %}{% endblock %}>

            {#
            The pre_primary block can be used to add content to before the
            rendering of the main content columns of the page.
            #}
            {% block pre_primary %}
            {% endblock %}

            {% block primary %}
              <div class="primary span9">
                {#
                The primary_content block can be used to add content to the page.
                This is the main block that is likely to be used within a template.

                Example:

                  {% block primary_content %}
                    <h1>My page content</h1>
                    <p>Some content for the page</p>
                  {% endblock %}
                #}
                {% block primary_content %}
                  <article class="module">
                    {% block page_header %}
                      <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                          <div class="content_action">
                            {% block content_action %}{% endblock %}
                          </div>
                        {% endif %}
                        <ul class="nav nav-tabs">
                          {% block content_primary_nav %}{% endblock %}
                        </ul>
                      </header>
                    {% endblock %}
                    <div class="module-content">
                      {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                          {% block page_primary_action %}{% endblock %}
                        </div>
                      {% endif %}
                      {% block primary_content_inner %}
                      {% endblock %}
                    </div>
                  </article>
                {% endblock %}
              </div>
            {% endblock %}

            {% block secondary %}
              <aside class="secondary span3">
                {#
                The secondary_content block can be used to add content to the
                sidebar of the page. This is the main block that is likely to be
                used within a template.

                Example:

                  {% block secondary_content %}
                    <h2>A sidebar item</h2>
                    <p>Some content for the item</p>
                  {% endblock %}
                #}
                {% block secondary_content %}{% endblock %}
              </aside>
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
    {% resource 'ckanext-opendatahub/opendatahub' %}
    {% resource 'base/main' %}
    {% resource 'base/ckan' %}
    {% if g.tracking_enabled %}
      {% resource 'base/tracking.js' %}
    {% endif %}
  {{ super() }}
{% endblock -%}
