{% extends "package/page.html" %}

{% set pkg = c.pkg_dict %}

{% block meta_description %}
      {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
      {% set organization = pkg.organization.title or pkg.organization.name %}
      <meta name="description" content="{{ pkg.title or pkg.name }} ({{ _('Author') }}: {{ pkg.author|forceescape }}, {{ _('Open Data published by') }}: {{ organization|forceescape }}). {{ description|forceescape }}" />
{% endblock %}

{% block subtitle %}
	{% set organization = pkg.organization.title or pkg.organization.name %}
	{{ pkg.title or pkg.name }} - {{ organization }}
{% endblock %}

{% block links -%}
  {{ super() }}
  <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(controller='package', action='read', id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block google_analytics_extras -%}
     {% set organization = pkg.organization.title or pkg.organization.name %}
     ga('set', 'dimension1', '{{ organization|forceescape }}');
{%- endblock %}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
{% endblock %}

{% block dcat_resource_type %}typeof="dcat:Dataset dcatapit:Dataset" resource="{{h.full_current_url()}}"{% endblock %}

{% block primary_content_inner %}
    {% block package_revision_info %}
      {% if c.pkg_revision_id %}
        <div class="module info alert alert-info">
          <p class="module-content">
            {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
            {% set url = h.url(controller='package', action='read', id=pkg.name) %}

            {% if c.pkg_revision_not_latest %}
              {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
            {% else %}
              {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
            {% endif %}
          </p>
        </div>
      {% endif %}
    {% endblock %}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {#% snippet 'package/snippets/info.html', pkg=pkg %#}
  {% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% snippet "snippets/organization.html", organization=pkg.organization, has_context_title=true %}
    {% endif %}
  {% endblock %}

  {% block package_rating %}
    {% snippet "package/snippets/rating.html", pkg=pkg, user=c.userobj %}
  {% endblock %}

  {% block package_api %}
    {% if c.userobj %}
      {% snippet "package/snippets/api.html", pkg_dict=pkg, cc=c %}
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}
  
  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
