{# Used to insert the home icon into a breadcrumb #}
<li property="itemListElement" typeof="ListItem" class="home">
	<a property="item" typeof="WebPage" href="/"><i class="icon-home"></i><span> {{ _('Home') }}</span></a>
</li>
