{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set banner = false %}
{% set category = h.get_package_category(package.extras) %}


<li class="{{ item_class or "dataset-item" }}">
  {% block package_item_content %}
    <div class="dataset-content">
	{% if package.organization %}
      <div data-category="{{ category }}">
	<a href="{{h.url_for(controller='organization', action='read', id=package.organization.name)}}" style="line-height: 30px;color: #333333;">
 	  <strong>{{package.organization.title}}</strong>
	</a>
        <div class="category" data-category="{{ category }}">
          {{ _(category) }}
        </div>
      </div>
	{% endif %}
      <h3 class="dataset-heading" data-category="{{ category.id }}">
        {% if package.private %}
          <span class="dataset-private label label-inverse">
            <i class="icon-lock"></i>
            {{ _('Private') }}
          </span>
        {% endif %}
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
        {% if package.get('state', '').startswith('draft') %}
          <span class="label label-info">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="label label-important">{{ _('Deleted') }}</span>
        {% endif %}
        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
        <span class="label label-info">{{ package.tracking_summary.total }} view</span>
      </h3>
      {% if banner %}
        <span class="banner">{{ _('Popular') }}</span>
      {% endif %}
      {% if notes %}
        <div>{{ notes|urlize }}</div>
      {% endif %}
    </div>
    {% if package.resources and not hide_resources %}
      <ul class="dataset-resources unstyled">
        {% for resource in h.dict_list_reduce(package.resources, 'format') %}
          <li>
            <!--a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource|upper }}</a-->
	    <span class="label" data-format="{{ resource.lower() }}">{{ resource|upper }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}
</li>
