{# This snippet creates an Additional Info Table

extras is a list of tuples of the form (key, value)

#}
{% if extras %}
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col" class="span3">{{ _('Field') }}</th>
        <th scope="col" class="span5">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for extra in extras %}
        {% set key, value = extra %}
	{% if not key.startswith('catalog_') %}
        <tr rel="dc:relation" resource="_:extra{{ i }}">
          <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
	  {% if value.startswith('http') %}
          	<td class="dataset-details" property="rdf:value"><a href="{{ value }}">{{ value }}</a></td>
          {% else %}
          	<td class="dataset-details" property="rdf:value">{{ value }}</td>
          {% endif %}
        </tr>
	{% endif %}
      {% endfor %}
    </tbody>
  </table>
  <h3>{{ _('Summary Reports') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col" class="span3">{{ _('Catalog') }}</th>
        <th scope="col" class="span5">{{ _('Report') }}</th>
      </tr>
    </thead>
    <tbody>
	{% set reports = h.publisher_reports(c.group_dict.name) %}
      {% for extra in extras %}
        {% set key, value = extra %}
	{% if key.startswith('catalog_') %}
        <tr rel="dc:relation" resource="_:extra{{ i }}">
	  {% set key = key.replace('catalog_','') %}
          <th scope="row" class="dataset-label" property="rdfs:label">{{ key }}</th>
	  {% if reports[key] %}
	  	<td class="dataset-details" property="rdf:value">
		<a href="{{ h.url_for(controller='package', action='resource_read', id='sciamlab_opendatahub', resource_id=reports[key]['id']) }}">{{ reports[key]['name'] }}</a></td>
	  {% else %}
          	<td class="dataset-details" property="rdf:value">{{ _('No report available for that catalog') }}</td>
	  {% endif %}
        </tr>
	{% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
