{% extends "page.html" %}
{% block subtitle %}{{ _("Analytics") }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ _('Graphical relationships between published datasets statistics over multiple dimensions: category, licence type, file format, publisher type (comune, regione, provincia, ente, azienda)') }}" />{% endblock %}

{% block breadcrumb_content %}
  <!--li property="itemListElement" typeof="ListItem" class="active">
	<a property="item" typeof="WebPage" href="{{ _('/products/index.shtml.en') }}">{{ _('Products') }}</a>
  </li-->
  <li property="itemListElement" typeof="ListItem" class="active">
	<a property="item" typeof="WebPage" href="{{ _('/opendatahub/') }}">{{ _('OpenDataHub') }}</a>
  </li>
  <li>{{ _("Analytics") }}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block analytics %}
        {% snippet 'analytics/snippets/bipartite.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}

{%- block scripts %}
  {{ super() }}
  <!-- analytics stuff here -->
  <script>
    var language = "{{ h.lang() }}";
  </script>  
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="/showcase/old_www/js/odhub_analytics.min.js"></script>
{% endblock -%}
