/*#map{
  height: 574px;
  position: relative;
}
*/
.module-resource{
	margin-bottom: 20px;
}
.module-content {
  margin: 0;
}

.module:first-child .module-heading {
  border-top-width: 1px;
}
.module-heading {
/*  margin: 0 0 20px 0;*/
    margin: 0;
}
div.alert {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}
.homepage .module-search {
  margin: 0 0 0 0;
}
/* FORMATS CATEGORIES */
h3[data-category="AGRICULTURE-FISHERIES-FORESTRY-FOOD"],.category[data-category="AGRICULTURE-FISHERIES-FORESTRY-FOOD"],
h3[data-category="AGRI"],.category[data-category="AGRI"]{
  border-right: #1f77b4 solid 7px;
}
.category[data-category="AGRICULTURE-FISHERIES-FORESTRY-FOOD"],
.category[data-category="AGRI"]{
  color: #1f77b4;
}

h3[data-category="ECONOMY-AND-FINANCE"],.category[data-category="ECONOMY-AND-FINANCE"],
h3[data-category="ECON"],.category[data-category="ECON"]{
  border-right: #8c564b solid 7px;
}
.category[data-category="ECONOMY-AND-FINANCE"],
.category[data-category="ECON"]{
  color: #8c564b;
}

h3[data-category="EDUCATION-CULTURE-AND-SPORT"],.category[data-category="EDUCATION-CULTURE-AND-SPORT"],
h3[data-category="EDUC"],.category[data-category="EDUC"]{
  border-right: #ff7f0e solid 7px;
}
.category[data-category="EDUCATION-CULTURE-AND-SPORT"],
.category[data-category="EDUC"]{
  color: #ff7f0e;
}

h3[data-category="ENERGY"],.category[data-category="ENERGY"],
h3[data-category="ENER"],.category[data-category="ENER"]{
  border-right: #ffd700 solid 7px;
}
.category[data-category="ENERGY"],
.category[data-category="ENER"]{
  color: #ffd700;
}

h3[data-category="ENVIRONMENT"],.category[data-category="ENVIRONMENT"],
h3[data-category="ENVI"],.category[data-category="ENVI"]{
  border-right: #2ca02c solid 7px;
}
.category[data-category="ENVIRONMENT"],
.category[data-category="ENVI"]{
  color: #2ca02c;
}

h3[data-category="GOVERNMENT-PUBLIC-SECTOR"],.category[data-category="GOVERNMENT-PUBLIC-SECTOR"],
h3[data-category="GOVE"],.category[data-category="GOVE"]{
  border-right: #aec7e8 solid 7px;
}
.category[data-category="GOVERNMENT-PUBLIC-SECTOR"],
.category[data-category="GOVE"]{
  color: #aec7e8;
}

h3[data-category="HEALTH"],.category[data-category="HEALTH"],
h3[data-category="HEAL"],.category[data-category="HEAL"]{
  border-right: #d62728 solid 7px;
}
.category[data-category="HEALTH"],
.category[data-category="HEAL"]{
  color: #d62728;
}

h3[data-category="INTERNATIONAL-ISSUES"],.category[data-category="INTERNATIONAL-ISSUES"],
h3[data-category="INTR"],.category[data-category="INTR"]{
  border-right: #98df8a solid 7px;
}
.category[data-category="INTERNATIONAL-ISSUES"],
.category[data-category="INTR"]{
  color: #98df8a;
}

h3[data-category="JUSTICE-LEGAL-SYSTEM-PUBLIC-SAFETY"],.category[data-category="JUSTICE-LEGAL-SYSTEM-PUBLIC-SAFETY"],
h3[data-category="JUST"],.category[data-category="JUST"]{
  border-right: #ffbb78 solid 7px;
}
.category[data-category="JUSTICE-LEGAL-SYSTEM-PUBLIC-SAFETY"],
.category[data-category="JUST"]{
  color: #ffbb78;
}

h3[data-category="POPULATION-AND-SOCIAL-CONDITIONS"],.category[data-category="POPULATION-AND-SOCIAL-CONDITIONS"],
h3[data-category="SOCI"],.category[data-category="SOCI"]{
  border-right: #ff9896 solid 7px;
}
.category[data-category="POPULATION-AND-SOCIAL-CONDITIONS"],
.category[data-category="SOCI"]{
  color: #ff9896;
}

h3[data-category="REGIONS-CITIES"],.category[data-category="REGIONS-CITIES"],
h3[data-category="REGI"],.category[data-category="REGI"]{
  border-right: #9467bd solid 7px;
}
.category[data-category="REGIONS-CITIES"],
.category[data-category="REGI"]{
  color: #9467bd;
}
h3[data-category="SCIENCE-AND-TECHNOLOGY"],.category[data-category="SCIENCE-AND-TECHNOLOGY"],
h3[data-category="TECH"],.category[data-category="TECH"]{
  border-right: #c5b0d5 solid 7px;
}
.category[data-category="SCIENCE-AND-TECHNOLOGY"],
.category[data-category="TECH"]{
  color: #c5b0d5;
}

h3[data-category="TRANSPORT"],.category[data-category="TRANSPORT"],
h3[data-category="TRAN"],.category[data-category="TRAN"]{
  border-right: #c49c94 solid 7px;
}
.category[data-category="TRANSPORT"],
.category[data-category="TRAN"]{
  color: #c49c94;
}

h3[data-category="OTHER"],.category[data-category="OTHER"]{
  border-right: #7f7f7f solid 7px;
}
.category[data-category="OTHER"]{
  color: #7f7f7f;
}

.category {
/*  line-height: 30px;*/
  font-weight: bold;
  float: right;
  padding-right: 7px;
	padding-bottom: 10px;
	max-width: 200px;
}

/* FORMATS LABELS*/
.format-label[data-format=wms], .format-label[data-format*=wms] {
  background-position: 0 0;
  background-image: url("/opendatahub/img/icon-wms.png");
}
.label[data-format="html"], .label[data-format*="html"] {
    background-color: #55a1ce;
}
.label[data-format="json"], .label[data-format*="json"] {
    background-color: #ef7100;
}
.label[data-format="xml"], .label[data-format*="xml"] {
    background-color: #b3c453;
}
.label[data-format="csv"], .label[data-format*="csv"],
.label[data-format="tsv"], .label[data-format*="tsv"] {
    background-color: #dfb100;
}
.label[data-format="xls"], .label[data-format*="xls"] {
    background-color: #2db55d;
}
.label[data-format="pdf"], .label[data-format*="pdf"] {
    background-color: #e0051e;
}
.label[data-format="txt"], .label[data-format*="txt"] {
    background-color: #74cbec;
}
.label[data-format="png"], .label[data-format*="png"], 
.label[data-format="jpeg"], .label[data-format*="jpeg"],
.label[data-format="gif"], .label[data-format*="gif"] {
    background-color: #0b4498;
}
.label[data-format="doc"], .label[data-format*="doc"] {
    background-color: #ec96be;
}
.label[data-format="wms"], .label[data-format*="wms"] {
    background-color: #EF6C60;
}
.label[data-format="rdf"], .label[data-format*="rdf"] {
    background-color: #0b4498;
}
.label[data-format="text"], .label[data-format*="text"] {
    background-color: #999999;
}
.label[data-format="zip"], .label[data-format*="zip"] {
    background-color: #999999;
}
.label[data-format="api"], .label[data-format*="api"] {
    background-color: #999999;
}
.label[data-format*="nquad"], .label[data-format*="ntriples"], .label[data-format*="turtle"] {
    background-color: #999999;
}
/* LOGIN */
.error-explanation.alert.alert-error{
  margin-bottom: 25px !important;
}
   #customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      margin-bottom: 5px;
      width: 155px;
   }
   #customBtn:hover {
      cursor: pointer;
      background: #e74b37;
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
      cursor: hand;
   }
   span.label {
      font-weight: bold;
   }
   span.icon {
      background: url('http://developers.google.com/+/images/branding/btn_red_32.png') transparent 0 30% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-right: #bb3f30 1px solid;
   }
   span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
   }
   #customBtnFb {
      background: linear-gradient(#4C69BA, #3B55A0) repeat scroll 0 0 rgba(0, 0, 0, 0);
      display: inline-block;
      /*background: #dd4b39;*/
      background-color: #5F78AB;
      color: white;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      margin-bottom: 5px;
      width: 175px;
   }
   #customBtnFb:hover {
      cursor: pointer;
      background: #627aad;
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
      cursor: hand;
   }
   span.iconFb {
      background: url('https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/pO2d5bFWS8j.png') no-repeat scroll 50% center / 80% auto;
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-right: #2A3D73 1px solid;
   }
   span.buttonTextFb {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
      text-shadow: 0 -1px 0 #354C8C;
   }

   #customBtnGh {
      background-color: #9F9F9F;
      background-image: linear-gradient(#9F9F9F, #888888);
      background-repeat: repeat-x;
      /*background: linear-gradient(#4C69BA, #3B55A0) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
      display: inline-block;
      /*background: #dd4b39;*/
      /*background-color: #5F78AB;*/
      color: white;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      margin-bottom: 5px;
      width: 155px;
   }
   #customBtnGh:hover {
      cursor: pointer;
      background: #B6B6B6;
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
      cursor: hand;
   }
   span.iconGh {
      background: url('http://www.afterlogic.org/images/platforms/github-mark-32.png') no-repeat scroll 50% center / 80% auto;
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-right: #727272 1px solid;
   }
   span.buttonTextGh {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
      /*text-shadow: 0 -1px 0 #354C8C;*/
   }

/* RATING*/
.rating {
  margin-left:5px;  
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 32px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 0.6em;
}
.rating.active > span:hover:before, .rating.active > span:hover ~ span:before{
   content: "\2605";
   color: #00aece;
   position: absolute;
   cursor: pointer;
}
.rating.active > span.selected:before, .rating.active > span.selected ~ span:before{
   content: "\2605";
   position: absolute;
}
.rating-title{
    float: left;
    margin-right: 15px;
    padding-top: 2px;
}
/* HOME */
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 11px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    /*width: 60px;
    height: 28px;
    */padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
} 
.footer-bottom p {
	float: none !important;
}
#wrap {
	margin: 0 auto -163px !important;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 3rem;
  background-color: rgba(0, 135, 160, 0.9);
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.4rem;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;
}
