body {
  background-color: #fff;
}

.recline-data-explorer{
  position: relative;
  overflow: auto;
}

.loading-dialog {
  width: 120px;
}

.recline-slickgrid {
  height: 600px;
}

.recline-timeline .vmm-timeline {
  height: 600px;
}

.loading-spinner {
  float: right;
  background-image: url('/opendatahub/img/ajaxload-circle.gif');
  width: 32px;
  height: 32px;
}
