{% extends "dataviewer/base.html" %}
{% set url = h.url_for(controller='package', action='resource_read', id=c.package.name, resource_id=c.resource.id) %}

{% block page %}

    {% set map_config = h.get_common_map_config_geoviews() %}
    {% set ol_config = h.get_openlayers_viewer_config() %}
    <div id="data-preview"
         data-module="olpreview"
         data-module-gapi_key="{{ gapi_key or c.resource.gapi_key }}"
         data-module-proxy_url="{{ proxy_url or c.resource.proxy_url }}"
         data-module-proxy_service_url="{{ proxy_service_url or c.resource.proxy_service_url }}"
         data-module-map_config="{{ h.dump_json(map_config) }}"
         data-module-ol_config="{{ h.dump_json(ol_config) }}"
         >
        <h4 class="loading-dialog">
          <div class="loading-spinner"></div>
          <div class="left">{{ _('Loading...') }}</div>
        </h4>
    </div>

  {% block scripts %}
    {{ super() }}
    <script>
        var proxied_url  = '{{url}}/proxy';
    </script>
  {% endblock %}


    {% resource 'ckanext-opendatahub/openlayers2' %}
    {% resource 'vendor/bootstrap' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ h.url_for_static('/css/bootstrap.min.css') }}" type="text/css" media="screen, projection" />
{% endblock %}
