{% set url = h.url_for(controller='package', action='resource_read', id=c.package.name, resource_id=c.resource.id) %}
{% if c.resource.format|lower in ['pdf','docx','doc'] %}
        <iframe id="gdocs-iframe" style="width: 100%;height: 574px;" frameborder="0" scrolling="no" 
                src="https://docs.google.com/viewer?embedded=true&url={{request.host+url}}/proxy">
        </iframe>
{% elif c.resource.format|lower in ['png', 'jpeg', 'gif'] %}
        <img src="{{c.resource.url}}" style="width: 100%;height: 574px;"></img>
{% elif c.resource.format|lower in ['html'] %}
        <iframe src="{{c.resource.url}}" style="width: 100%;height: 574px;" frameborder="0" scrolling="no"></iframe>
{% elif c.resource.format|lower in ['wms'] %}
        <!--iframe id="wms-iframe" style="width: 101.5%;height: 438px;" frameborder="0" scrolling="no" 
                src="http://www.pcn.minambiente.it/geoportal/catalog/livedata/embed.jsp?url={{c.resource.url}}">
        </iframe-->
	{% snippet "dataviewer/openlayers2.html" %}
{% elif c.resource.format|lower in ['csv','tsv','xls','xlsx'] %}
	{% snippet "dataviewer/recline.html" %}
{% elif c.resource.format|lower in ['geojson'] %}
	{% snippet "dataviewer/geojson.html" %}
{% elif c.resource.format|lower in ['xml','rdf','txt','jsonp','json','json-ld'] %}
        {% snippet "dataviewer/text.html" %}
{% endif %}
