{% extends "dataviewer/base.html" %}

{% block page %}
  <div data-module="reclinepreview" data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}">
    <h4 class="loading-dialog">
      <div class="loading-spinner"></div>
      <div class="left">{{ _('Loading...') }}</div>
    </h4>
  </div>

{% resource 'ckanext-opendatahub/recline' %}
{% endblock %}

