{% extends 'dataviewer/base.html' %}
{% set url = h.url_for(controller='package', action='resource_read', id=c.package.name, resource_id=c.resource.id) %}
{% block page %}
  <div>
    <pre data-module="textpreview">
      <div class="loading">
        {{ _('Loading...') }}
      </div>
    </pre>
  </div>

  {% block scripts %}
    {{ super() }}
    <script>
//      var preview_metadata = {{ h.literal(c.preview_metadata) }};
	var proxied_url  = '{{url}}/proxy';
    </script>
  {% endblock %}


  {% resource 'ckanext-opendatahub/text' %}
{% endblock %}
