{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block meta_description %}
    <meta name="description" content="{% trans dsstats=h.dsstats()['total'] %}Open Data Hub Italy currently holds the most complete catalog of Open Data released by Italian Public Administration and Organizations. {{ dsstats }} datasets from more than 420 Organizations! Find out the Datasets you need!{% endtrans %}" />
{% endblock %}

{% block title %} {{ _('Open Data Hub Italy') }} - SciamLab{% endblock %}

{% block maintag %}{% endblock %}


{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    
    

    {% block primary_content %}
	<div role="main" class="hero">
  	    <div class="container">
            
            {% block toolbar %}
            <div class="toolbar">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                        <div id="breadcrumb">
                        <ul vocab="http://schema.org/" typeof="BreadcrumbList">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}
                        <!--li property="itemListElement" typeof="ListItem" class="active">
				<a property="item" typeof="WebPage" href="{{ _('/products/index.shtml.en') }}">{{ _('Products') }}</a>
			</li-->
                        <li property="itemListElement" typeof="ListItem" class="active">
				<a property="item" typeof="WebPage" href="{{ _('/opendatahub/') }}">{{ _('OpenDataHub') }}</a>
			</li>
                        <li property="itemListElement" typeof="ListItem">{{ _('Search') }}</li>
                    {% endblock %}
                        </ul>
                        </div>
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}

    		{% snippet 'home/snippets/search.html' %}
  	    </div>
	</div>
    {% endblock %}
  </div>
{% endblock %}
